# Python
backend/venv/
__pycache__/
*.pyc

# Angular
frontend/node_modules/
frontend/.angular/
frontend/dist/

# Database
backend/database/simulations.db

# VS Code
.vscode/

# Logs
*.log

backend/data/*.csv